:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;    
}

dialog, dialog::before, dialog::after {
    margin: auto;
}

dialog {
    border: none;
    outline: none;
    background-color: transparent;
}

.spinner {
    background-color: white;
    position: relative;
    aspect-ratio: 1;
    border-style: solid;
    border-width: 20px;
    border-radius: 50%;
    border-top-color: red;
    border-bottom-color: green;
    border-right-color: transparent;
    border-left-color: transparent;
    animation-name: grow-spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-direction: alternate;

    &::before {
        content: "";
        position: absolute;
        background-color: blue;
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        inset: 0;
        margin: auto;
    }
}

@keyframes grow-spinner {
    from {
        width: 100px;
    }
    to {
        width: 200px;
    }
}