/* general o xs extra-small */
:root {
  --color-100: #e8f5e9;
  --color-200: #c8e6c9;
  --color-300: #a5d6a7;
  --color-400: #81c784;
  --color-500: #66bb6a;
  --color-600: #4caf50;
  --color-700: #43a047;
  --color-800: #388e3c;
  --color-900: #2e7d32;
  --color-950: #1b5e20;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    main {
        flex: 1 1 0;
    }


    /* display: grid;
    grid-template-rows: auto 1fr auto; */

    /* display: grid;
    grid-template-areas: 
        "encabezado"
        "principal"
        "pie"
    ;
    grid-template-rows: auto 1fr auto;

    header {
        grid-area: encabezado;
    }
    
    main {
        grid-area: principal;
    }

    footer {
        grid-area: pie;
    } */
}

nav, aside {
    display: none;
}

.header-app {
    background-color: var(--color-950);
    color: var(--color-100);
    padding: 0.5rem;
    display: flex;

    .title {
        flex: 1 1 0;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    .login {
        color: inherit;
        border: none;
        background-color: transparent;
        /* position: relative; */
        
        &::before {
            background-color: var(--color-700);
            display: inline-block;
            width: 2rem;
            height: 2rem;
            display: grid;
            place-content: center;
            border-radius: 50%;

            /* position: absolute; */
        }

        &[-data-session=closed]::before {
            content: "";
            background-image: url(./user.png);
            background-size: cover;
        }

        &[-data-session=opened]::before {
            content: attr(-data-username)
        }
    }
}

footer {
    background-color: var(--color-950);
    color: var(--color-100);
    text-align: center;
}

/* nav {
    display: none;
}
.login:focus + nav {
    display: block;
} */

/* sm small */
/* @media screen and (min-width: 640px) {  */
@media screen and (width >= 640px) { 
    .header-app .login[-data-session=opened]::before {
        content: attr(-data-firstname) " " attr(-data-lastname);
        width: auto;
        border-radius: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

/* md medium */
@media screen and (width >= 768px) { 
}

/* lg large */
@media screen and (width >= 1024px) { 
    body {
        width: 100dvw;
        display: grid;
        grid-template-areas: 
        "izquierdo  encabezado  derecho"
        "izquierdo  principal   derecho"
        "izquierdo  pie         derecho"
        ;
        grid-template-columns: calc((100% - 1280px) / 2) 1fr calc((100% - 1280px) / 2);
        grid-template-rows: auto 1fr auto;
    }

    main {
        overflow-y: scroll;
    }

    aside {
        display: unset;

        &.publicidad-izquierda {
            grid-area: izquierdo;
        }

        &.publicidad-derecha {
            grid-area: derecho;
        }
    }
}

/* xl extra-large */
@media screen and (width >= 1280px) { 
}

/* 2xl two times extra-large */
@media screen and (width >= 1536px) { 
}