:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;
    background-color: green;
}

.boton {
    background-image: url(./boton.png);
    background-size: cover;
    width: 100px;
    aspect-ratio: 1;
}

.pelota {
    position: absolute;
    background-image: url(./pelota.png);
    background-size: cover;
    width: 150px;
    aspect-ratio: 1;
    animation: movimiento-pelota 5s linear 0s infinite normal both;
    /* animation-play-state: paused; */
}

.parada {
    animation-play-state: paused;
}

@keyframes movimiento-pelota {
    0% {
        left: 10%;
        top: 50%;
    }

    33% {
        left: 80%;
        top: 10%;
    }

    66% {
        left: 50%;
        top: 80%;
    }

    100% {
        left: 10%;
        top: 50%;
    }
}