*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;
}

@media screen {
    :root {
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: url(./halloween.jfif);
        color: orange;
    }
}

@media print {
    :root {
        font-family: 'Times New Roman', Times, serif;
    }

    body {
        background-color: orange;
        color: black;
        margin: 25mm 30mm 20mm 30mm;
    }
}