:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;
}

.circulo-uno {
    background-color: red;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    animation: 
        movimiento 10s linear 0s infinite normal both,
        coloreando 2s linear 0s infinite normal both
        ;
}

@keyframes movimiento {
    0% {
        top: 10%;
        left: 10%;
    }

    25% {
        top: 10%;
        left: 90%;
    }

    50% {
        top: 90%;
        left: 90%;
    }

    75% {
        top: 90%;
        left: 10%
    }

    100% {
        top: 10%;
        left: 10%;
    }
}

@keyframes coloreando {
    0% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}