:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;
    display: grid;
    place-content: center;
}

form {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
    gap: 15px;
}

header {
    grid-column: span 2;
}

label {
    text-align: right;
}

button {
    grid-column: span 2;
}

/* input[type=email]:invalid + .error,
input[type=password]:invalid + .error
{
    display: block;
} */

input:where([type=email], [type=password]):invalid + .error
{
    display: block;
}

.error {
    grid-column: span 2;
    color: red;
    text-align: center;
    display: none;
}