:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    inset: 0;
    margin: auto;
    min-height: 100dvh;
    width: 1280px;
    display: flex;
    flex-direction: column;
    background-image: url(./images/the-earth.jpg);
    background-position-x: 300px;
}

header {
    background-color: black;
    color: white;
    mix-blend-mode: multiply;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}

main {
    flex: 1 1 0;

    display: grid;
    grid-template-areas: 
        "campo   perro      perro    playa"
        "campo   vertedero  quema    quema"
        "hombre  fabrica    quema    quema"
        "hombre  arboles    arboles  agua"
    ;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 10px;
    gap: 10px;
}

.image {
    border: solid 5px red;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}

.image-campo {
    grid-area: campo;
    background-image: url(./images/01.jpg);
}

.image-perro {
    grid-area: perro;
    background-image: url(./images/02.jpg);
}
.image-playa {
    grid-area: playa;
    background-image: url(./images/03.jpg);
}
.image-vertedero {
    grid-area: vertedero;
    background-image: url(./images/04.jpg);
}
.image-fabrica {
    grid-area: fabrica;
    background-image: url(./images/05.jpg);
}
.image-quema {
    grid-area: quema;
    background-image: url(./images/06.jpg);
}
.image-hombre {
    grid-area: hombre;
    background-image: url(./images/07.jpg);
}
.image-arboles {
    grid-area: arboles;
    background-image: url(./images/08.jpg);
}
.image-agua {
    grid-area: agua;
    background-image: url(./images/09.jpg);
}