/* @media print { */
    :root {
        font-family: 'Times New Roman', Times, serif;
    }

    body {
        background-color: orange;
        color: black;
        margin: 25mm 30mm 20mm 30mm;
    }

    h2 {
        page-break-after: always;
        page-break-inside: avoid;
    }

    div.page {
        break-after: auto;
        break-inside: avoid;
    }
/* } */