:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;
    background-color: bisque;
    display: grid;
    place-content: center;
}

.spinner {
    display: grid;
    place-items: center;
}

.spin {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    animation-name: spin-color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spin-red {
    width: 200px;
    border-top: solid 20px red;
    /* border-left: solid 20px transparent;
    border-right: solid 20px transparent; */
}

.spin-green {
    width: 150px;
    border-top: solid 20px green;
    animation-direction: reverse;
    animation-delay: 333ms;
}

.spin-blue {
    width: 100px;
    border-top: solid 20px blue;
    animation-delay: 666ms;
}

@keyframes spin-color {
    from {
        rotate: 0turn;
    }

    to {
        rotate: 1turn;
    }
}